/* fills the whole screen */
.header{
    width: 100%;
    background: linear-gradient(to bottom, #00000063, #000000),url(./assets/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 200px;
}
.header-main{
    width: 60rem;
    margin: 50px;
    max-width: 90vw;
}
.header-heading{
    font-size: 3.7rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.header-paragraph{
    word-spacing: 0.5em;
    text-justify: distribute-all-lines;
    line-height: 30px;
}
.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  /* This ensures the section fills the screen height */
    overflow: hidden;  /* Prevent horizontal scroll */
}

.first-section-main-container {
    max-width: 800px;
    position: relative;
    height: 100vh;  /* Ensure the container is tall enough for scrolling */
    overflow-y: auto;  /* Allow vertical scroll for the container */
}

#first-section-header-text {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.turnable-image-container {
    display: flex;
    flex-direction: column;  /* Stack images vertically */
    position: relative;
}

.turnable-box {
    position: sticky;
    top: 0;  /* Ensure each box sticks at the top */
    z-index: 1;
    margin-bottom: 20px;  /* Optional, for spacing between each box */
}

.turnable-image {
    width: 100%;
    height: 700px;
    background-color: rgb(60, 60, 75);
    box-shadow: 
        rgba(67, 91, 112, 0.42) 0px 60px 123px -25px,
        rgba(62, 81, 99, 0.08) 0px 35px 75px -35px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
