/* fills the whole screen */
.header{
    width: 100%;
    background: linear-gradient(to bottom, #00000063, #000000),url(./assets/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}